* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: 'web font', 'osx fallback', 'win fallback', sans-serif;

}

nav {

    background-color: hsl(0, 0%, 62%);
    margin: 3rem 15rem 0;
    padding:0.5rem 0;
    


}

nav > a {

    font-size: 2rem;
    color: hsl(350, 100%, 20%);
    padding: 0 2rem 0 5rem;
    


}

a.nounderline {

    text-decoration: none;
}

header {

    background-image: url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    border-top: solid hsl(350, 100%, 20%) 1rem;
    padding: 5rem;
    margin: 0rem 15rem;
}



h1.bigshadow {


    text-align: left;
    font-size: 6rem;
    text-shadow: 4px 3px 5px hsl(350, 100%, 20%);
}

h1.smallshadow {
    padding: 3rem 0 0 0;
    text-align: left;
    font-size: 5rem;
    color: hsl(350, 100%, 20%);
    text-shadow: 4px 3px 5px hsl(0, 0%, 0%);
}


h1.subhead {
    padding: 3rem 0;
    font-size: 3rem;
    color: hsl(350, 100%, 20%);
}

main {
    padding: 0 5rem;
    margin: 0rem 15rem;


}

p {
    font-size: 1rem;

}

h2.subhead {
    padding: 3rem 0 0 0;
    font-size: 1.5rem;
    color: hsl(350, 100%, 20%);

}

ul.move {
    padding: 1rem;
}
